.profile {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 65vh;
    flex-direction: column;
    width: 60vw;
    /* line-height: 10px; */
    font-size: 20px;
    margin: auto;

}
span{
    background-color: red;
}