.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(52, 47, 47)
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 30px;
    padding: 2px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  .cart {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
  }
  
  .item-count {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
  }
  